#form  {
    display: block;
    margin: auto;
    text-align: center;

}

#accordion {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 20px
}

#route-info {
    display: block;
    margin: auto;
    width: 50%;
    padding-top: 30px}

#form dt, dl, dd {
    display: inline;
}

#form dd  {
   -webkit-margin-start: 5px
}

#form dt label {
   padding-left: 10px
}

.error dd {
    color: red
}

#sncb-logo {
    padding-top: 10px;
    padding-bottom: 50px;
    display: block;
    margin: auto;
}

.menu {
    text-align: right;
}

td {
padding-left:10px;
}