@(stationForm: Form[model.LiveBoardForm.Data], departures: Seq[model.DepartureJsonModel.Departure], postURL: Call)(implicit request: MessagesRequestHeader)

@main(title = "Liveboard Home") {

    <img id="sncb-logo" src='@routes.Assets.versioned("images/routeplanner.png")'>

        @helper.form(postURL) {
            <div id="form">
                @helper.CSRF.formField
                @helper.inputText(stationForm("Station"), 'id -> "station", 'placeholder -> "Brussels", 'autofocus ->"")
                <button> See LiveBoard </button>
            </div>
        }

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
        <div id="route-info">@name: @value</div>
    }

    <div id="accordion">
            <!--TODO Fill the following html template (ConnectionData) to add each connection available in the `connections` sequence-->
            @*https://www.playframework.com/documentation/2.6.x/ScalaTemplates*@
        @for(departure <- departures){
            <!--ConnectionData-->
       <h4> @departure.vehicle Delay: @departure.delay</h4>
        <div>
            <table>
                <tr>
                    <td>Departure:</td>
                    <td>@departure.time</td>
                    <td>Destination:</td>
                    <td>@departure.station</td>
                    <td>Platform:</td>
                    <td>@departure.platform</td>
                </tr>
            </table>

        </div>
            <!--ConnectionData-->
    }
    </div>
}
